AmxBSCSActivities/Connected Services/DocumentManagerService/BaseTypesABE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:s1="http://www.amx.com/CO/Schema/BaseTypeABE/v1" targetNamespace="http://www.amx.com/CO/Schema/BaseTypeABE/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AttributeValuePair" type="s1:AttributeValuePair" />
  <xs:complexType name="AttributeValuePair">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="attributeName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="attributeValue" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>