AmxBSCSActivities/Connected Services/EricssonEsbCustomerAccount/getBalance12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entbastyp="http://www.ericsson.com/entity/CommonBusiness/BaseTypes/V1/" targetNamespace="http://www.ericsson.com/entity/CommonBusiness/BaseTypes/V1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="URL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="fragment" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="host" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="path" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="port" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="protocol" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="query" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UtilityFields">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="text01" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text02" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text03" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text04" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text05" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text06" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text07" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text08" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text09" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text10" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text11" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text12" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text13" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text14" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text15" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text16" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text17" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text18" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text19" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text20" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text21" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text22" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text23" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text24" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text25" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text26" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text27" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text28" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text29" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="text30" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="check01" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="check02" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="check03" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="check04" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="check05" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="check06" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="check07" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="check08" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="check09" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="check10" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="check11" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="check12" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="check13" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="check14" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="check15" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="check16" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="check17" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="check18" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="check19" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="check20" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="combo01" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="combo02" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="combo03" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="combo04" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="combo05" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="combo06" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="combo07" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="combo08" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="combo09" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="combo10" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="combo11" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="combo12" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="combo13" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="combo14" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="combo15" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="combo16" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="combo17" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="combo18" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="combo19" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="combo20" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Threshold">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="amount" type="entbastyp:Money" />
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeValuePair">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TimePeriod">
    <xs:annotation>
      <xs:documentation>A base / value business entity used to represent a period of time, between two timepoints</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="enddatetime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>An instant of time, ending at the TimePeriod:



Notes:

If null, then represents to the end of time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="startdatetime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>An instant of time, starting at the TimePeriod



Notes:

If null, then represents to the beginning of time</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="message" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="status" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Quantity">
    <xs:annotation>
      <xs:documentation>A base / value business entity used to represent measurements.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="amount" type="xs:decimal">
        <xs:annotation>
          <xs:documentation>A quantity of something, typically the total of a thing or things in number, size, value, extent, or money.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="units" type="xs:string">
        <xs:annotation>
          <xs:documentation>The unit of measure for the quantity, such as meters, cubic yards, kilograms [ISO 80000], and the currency referring to [ISO 4217].</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Notes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="author" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="date" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Money">
    <xs:annotation>
      <xs:documentation>A base / value business entity used to represent money</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="amount" type="xs:decimal">
        <xs:annotation>
          <xs:documentation>A positive floating point number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="units" type="xs:string">
        <xs:annotation>
          <xs:documentation>Currency(Notes:refer to [ISO 4217]) or non-currency terms, such as loyalty points.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Duration" abstract="true">
    <xs:annotation>
      <xs:documentation>A base / value business entity used to represent a length of time.Duration is a type of Quantity</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="units" type="xs:string">
        <xs:annotation>
          <xs:documentation>The unit of measure for the quantity, such as seconds,minutes, hours.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" type="xs:long">
        <xs:annotation>
          <xs:documentation>A quantity of something, typically the total of a thing or things in number, size, value, or extent.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>