AmxBSCSActivities/Connected Services/EricssonEsbCustomerAccount/getBalance4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.ericsson.com/esb/message/customer/getSubscriberPackagesRequest/v1.0" xmlns:getsubspackreq="http://www.ericsson.com/esb/message/customer/getSubscriberPackagesRequest/v1.0" targetNamespace="http://www.ericsson.com/esb/message/customer/getSubscriberPackagesRequest/v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="getSubscriberPackagesRequest" type="getsubspackreq:getSubscriberPackagesType" />
  <xsd:complexType name="getSubscriberPackagesType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="MSISDN" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="requestChannel" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="packageFamily" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="subscriptionStatus" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="dummy1" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="dummy2" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="dummy3" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="dummy4" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="dummy5" type="xsd:string" />
      <xsd:sequence />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>