AmxBSCSActivities/Connected Services/EricssonEsbCustomerAccount/getBalance1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.ericsson.com/esb/message/customer/getCustomerAgreementRequest/v1.0" xmlns:getappstareq="http://www.ericsson.com/esb/message/customer/getCustomerAgreementRequest/v1.0" targetNamespace="http://www.ericsson.com/esb/message/customer/getCustomerAgreementRequest/v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="getCustomerAgreementRequest" type="getappstareq:getCustomerAgreementType" />
  <xsd:complexType name="getCustomerAgreementType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="customerID" type="xsd:string" />
      <xsd:sequence />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>