AmxBSCSActivities/Connected Services/EricssonEsbCustomerAccount/getBalance9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.ericsson.com/esb/message/customer/getCustomerAgreementResponse/v1.0" xmlns:entbastyp="http://www.ericsson.com/entity/CommonBusiness/BaseTypes/V1/" xmlns:worord="http://www.ericsson.com/entity/CommonBusiness/WorkOrder/V1/" xmlns:getappstares="http://www.ericsson.com/esb/message/customer/getCustomerAgreementResponse/v1.0" targetNamespace="http://www.ericsson.com/esb/message/customer/getCustomerAgreementResponse/v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://localhost:8003/CustomerAccount/v1.0/getBalance?SCHEMA%2FUT_MODELO_ONTOLOGICO%2FEntidades%2FCommonBusiness%2FBaseTypes_V1" namespace="http://www.ericsson.com/entity/CommonBusiness/BaseTypes/V1/" />
  <xsd:element name="getCustomerAgreementResponse" type="getappstares:getCustomerAgreementResponse_TYPE" />
  <xsd:complexType name="getCustomerAgreementResponse_TYPE">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="_responseStatus" type="entbastyp:ResponseStatus" />
      <xsd:element minOccurs="0" maxOccurs="1" name="csIdPub" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="contractTypeId" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="coIdPub" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="paymentResp" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="csContrResp" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="paymentMethodInd" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>