AmxPeruPSBActivities/Web References/ConsultaDeudaCuenta_v1/ConsultaDeudaCuenta_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:entengp="http://claro.com.pe/esb/IdentificationExtension/V1/" xmlns:entdoc="http://claro.com.pe/entity/CommonBusiness/Documents/V1/" xmlns:entppy="http://claro.com.pe/entity/EngagedParty/PartyPayment/V1/" xmlns:entclaroh="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:entservesp="http://claro.com.pe/entity/Service/ServiceSpecification/V1/" xmlns:entbastyp="http://claro.com.pe/entity/CommonBusiness/BaseTypes/V1/" xmlns:entcustapp="http://claro.com.pe/entity/Customer/AppliedCustomerBillingRate/V1/" xmlns:entheader="http://claro.com.pe/generic/messageFormat/v1.0/" xmlns:entrespst="http://claro.com.pe/esb/data/generico/responseStatus/v1/" xmlns:entengadd="http://claro.com.pe/entity/EngagedParty/Agreement/V1/" xmlns:entcommtyp="http://ericsson.com/esb/data/generico/CommonTypes/v1/" xmlns:entcustex="http://claro.com.pe/entity/Customer/CustomerExtension/V1/" xmlns:custmanf="http://claro.com.pe/esb/message/ConsultaDeudaCuenta/consultarDeudaCuenta/v1/" xmlns:entcust="http://claro.com.pe/entity/Customer/Customer/V1/" xmlns:entaddpe="http://claro.com.pe/entity/EngagedParty/AdditionalPartyEntities/V1/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/esb/message/ConsultaDeudaCuenta/consultarDeudaCuenta/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../../../../framework/UT_MODELO_ONTOLOGICO/Entidades/CommonBusiness/CommonTypes_V1.xsd" namespace="http://ericsson.com/esb/data/generico/CommonTypes/v1/" />
  <xsd:import schemaLocation="../../../../framework/UT_MODELO_ONTOLOGICO/Entidades/CommonBusiness/Documents_V1.xsd" namespace="http://claro.com.pe/entity/CommonBusiness/Documents/V1/" />
  <xsd:import schemaLocation="../../../../framework/UT_MODELO_ONTOLOGICO/Entidades/Customer/Customer_V1.xsd" namespace="http://claro.com.pe/entity/Customer/Customer/V1/" />
  <xsd:import schemaLocation="../../../../framework/UT_MODELO_ONTOLOGICO/Entidades/EngagedParty/IdentificationExtension_V1.xsd" namespace="http://claro.com.pe/esb/IdentificationExtension/V1/" />
  <xsd:import schemaLocation="../../../../framework/servicios/esquemas/HeaderGeneric_v1.0.xsd" namespace="http://claro.com.pe/generic/messageFormat/v1.0/" />
  <xsd:import schemaLocation="../../../../framework/UT_MODELO_ONTOLOGICO/Entidades/CommonBusiness/BaseTypes_V1.xsd" namespace="http://claro.com.pe/entity/CommonBusiness/BaseTypes/V1/" />
  <xsd:import schemaLocation="../../../../framework/UT_MODELO_ONTOLOGICO/Entidades/CommonBusiness/ResponseStatus_V1.xsd" namespace="http://claro.com.pe/esb/data/generico/responseStatus/v1/" />
  <xsd:import schemaLocation="../../../../framework/UT_MODELO_ONTOLOGICO/Entidades/Customer/CustomerExtension_V1.xsd" namespace="http://claro.com.pe/entity/Customer/CustomerExtension/V1/" />
  <xsd:import schemaLocation="../../../../framework/UT_MODELO_ONTOLOGICO/Entidades/Service/ServiceSpecification_V1.xsd" namespace="http://claro.com.pe/entity/Service/ServiceSpecification/V1/" />
  <xsd:import schemaLocation="../../../../framework/UT_MODELO_ONTOLOGICO/Entidades/Customer/AppliedCustomerBillingRate_V1.xsd" namespace="http://claro.com.pe/entity/Customer/AppliedCustomerBillingRate/V1/" />
  <xsd:import schemaLocation="../../../../framework/UT_MODELO_ONTOLOGICO/Entidades/EngagedParty/AdditionalPartyEntities_V1.xsd" namespace="http://claro.com.pe/entity/EngagedParty/AdditionalPartyEntities/V1/" />
  <xsd:import schemaLocation="../../../../framework/UT_MODELO_ONTOLOGICO/Entidades/EngagedParty/PartyPayment_V1.xsd" namespace="http://claro.com.pe/entity/EngagedParty/PartyPayment/V1/" />
  <xsd:import schemaLocation="../../../../framework/UT_MODELO_ONTOLOGICO/Entidades/EngagedParty/Agreement_V1.xsd" namespace="http://claro.com.pe/entity/EngagedParty/Agreement/V1/" />
  <xsd:import schemaLocation="../../../../framework/UT_MODELO_ONTOLOGICO/Entidades/CommonBusiness/ClaroGenericHeaders_V1.xsd" namespace="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" />
  <xsd:complexType name="consultarDeudaCuentaRequestType">
    <xsd:sequence>
      <xsd:element name="headerRequest" type="entclaroh:HeaderRequestType" />
      <xsd:element name="adjustmentDocuments" type="entdoc:adjustmentDocuments" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarDeudaCuentaResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="cabeceraConsultaResponse" type="custmanf:CabeceraConsultaResponseType" />
      <xsd:element name="responseStatus" type="entrespst:ResponseStatus" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CabeceraConsultaResponseType">
    <xsd:sequence>
      <xsd:element name="organizationIdentificationExtension" type="entengp:OrganizationIdentificationExtension" />
      <xsd:element name="customerSpec" type="entcust:CustomerSpec" />
      <xsd:element name="customerSpecExtension" type="entcustex:CustomerSpecExtension" />
      <xsd:element name="paymentPlan" type="entppy:PaymentPlan" />
      <xsd:element name="partyPayment" type="entppy:PartyPayment" />
      <xsd:element name="partyPaymentItem" type="entppy:PartyPaymentItem" />
      <xsd:element name="agreement" type="entengadd:Agreement" />
      <xsd:element name="documents" type="entdoc:Documents" />
      <xsd:element name="duration" type="entbastyp:Duration" />
      <xsd:element name="serviceDocuments" type="entdoc:serviceDocuments" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="detalleConsultaResponse" type="custmanf:DetalleConsultaResponseType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DetalleConsultaResponseType">
    <xsd:sequence>
      <xsd:element name="serviceSpecificationType" type="entservesp:ServiceSpecificationType" />
      <xsd:element name="financialChargeSpec" type="entcustapp:FinancialChargeSpec" />
      <xsd:element name="partyAccount" type="entaddpe:PartyAccount" />
      <xsd:element name="serviceDocuments" type="entdoc:serviceDocuments" />
      <xsd:element name="paymentPlan" type="entppy:PaymentPlan" />
      <xsd:element name="partyPayment" type="entppy:PartyPayment" />
      <xsd:element name="partyPaymentItem" type="entppy:PartyPaymentItem" />
      <xsd:element name="quantity" type="entbastyp:Quantity" />
      <xsd:element name="utilityFields" type="entbastyp:UtilityFields" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="consultarDeudaCuentaRequestMessageType" type="custmanf:consultarDeudaCuentaRequestType" />
  <xsd:element name="consultarDeudaCuentaResponseMessageType" type="custmanf:consultarDeudaCuentaResponseType" />
</xsd:schema>