AmxPeruPSBActivities/Web References/SendNotification/Catalog_V1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd_4="http://claro.com.pe/entity/EngagedParty/Party/V1/" xmlns:xsd_2="http://claro.com.pe/entity/CommonBusiness/BaseTypes/V1/" xmlns:xsd_1="http://claro.com.pe/entity/CommonBusiness/Catalog/V1/" targetNamespace="http://claro.com.pe/entity/CommonBusiness/Catalog/V1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../EngagedParty/Party_V1.xsd" namespace="http://claro.com.pe/entity/EngagedParty/Party/V1/" />
  <xsd:import schemaLocation="BaseTypes_V1.xsd" namespace="http://claro.com.pe/entity/CommonBusiness/BaseTypes/V1/" />
  <xsd:annotation>
    <xsd:documentation>A generalized ABE that represents common Catalog Specification and Catalog entities, attributes, and associations shared (inherited) by components of the Product, Service, and Resource Catalog ABEs.</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="Catalog" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A catalog can be defined as a collation of items and arranging them in a particular manner based on the need. In the information framework point, it is as collection of entities. This entity is proposed as an abstract entity. This is to have sub classes derived out of this entity to synch up with the real world examples of product catalog, service catalog etc. The catalog presentation can be in book form or web form.
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A unique identifier for a catalog.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="type" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A categorization of an entry in the catalog such as web or book.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="validFor" type="xsd_2:TimePeriod">
        <xsd:annotation>
          <xsd:documentation>The period of time during which the catalog is applicable.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="CatalogSpecification" type="xsd_1:CatalogSpecification" />
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A word or phrase by which a catalog is known and distinguished from other catalogs.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="partyRole" type="xsd_4:PartyRole" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CatalogSpecification" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A CatalogSpecification can be associated or related to another CatalogSpecification. This relationship entity is defined for this purpose.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="catalog" type="xsd_1:Catalog" />
      <xsd:element name="ID" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A unique identifier for a CatalogSpecification.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A word or phrase by which a CatalogSpecification is known and distinguished from other CatalogSpecifications.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="validFor" type="xsd_2:TimePeriod">
        <xsd:annotation>
          <xsd:documentation>The period during which the CatalogSpecification is applicable.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A narrative that explains the catalogSpecification.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="catalogspecification" type="xsd_1:CatalogSpecRelationship">
        <xsd:annotation>
          <xsd:documentation>A CatalogSpecification can be associated or related to another CatalogSpecification. This relationship entity is defined for this purpose.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="catalogspecification1" type="xsd_1:CatalogSpecRelationship">
        <xsd:annotation>
          <xsd:documentation>A CatalogSpecification can be associated or related to another CatalogSpecification. This relationship entity is defined for this purpose.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CatalogSpecRelationship">
    <xsd:annotation>
      <xsd:documentation>A CatalogSpecification can be associated or related to another CatalogSpecification. This relationship entity is defined for this purpose.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="validFor" type="xsd_2:TimePeriod">
        <xsd:annotation>
          <xsd:documentation>The period of time at which a relationship of catalog specifications is valid.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>