AmxPeruPSBActivities/Web References/ConsultaDocumentoOnBase_V1/PartyBill_V1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd_2="http://claro.com.pe/entity/CommonBusiness/BaseTypes/V1/" xmlns:xsd_3="http://claro.com.pe/entity/EngagedPartyDomain/AdditionalPartyEntities_V1/" xmlns:xsd_1="http://claro.com.pe/entity/EngagedParty/PartyBill/V1/" xmlns:xsd_6="http://claro.com.pe/entity/EngagedPartyDomain/PartyInteraction_V1/" xmlns:xsd_7="http://claro.com.pe/entity/EngagedParty/Dunning/V1/" xmlns:xsd_4="http://claro.com.pe/entity/EngagedParty/AppliedPartyBillingRate/V1/" xmlns:xsd_5="http://claro.com.pe/entity/EngagedParty/PartyPayment/V1/" xmlns:xsd_8="http://claro.com.pe/entity/Customer/CustomerBill/V1/" targetNamespace="http://claro.com.pe/entity/EngagedParty/PartyBill/V1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../Customer/CustomerBill_V1.xsd" namespace="http://claro.com.pe/entity/Customer/CustomerBill/V1/" />
  <xsd:import schemaLocation="Dunning_V1.xsd" namespace="http://claro.com.pe/entity/EngagedParty/Dunning/V1/" />
  <xsd:import schemaLocation="PartyPayment_V1.xsd" namespace="http://claro.com.pe/entity/EngagedParty/PartyPayment/V1/" />
  <xsd:import schemaLocation="AppliedPartyBillingRate_V1.xsd" namespace="http://claro.com.pe/entity/EngagedParty/AppliedPartyBillingRate/V1/" />
  <xsd:import schemaLocation="../CommonBusiness/BaseTypes_V1.xsd" namespace="http://claro.com.pe/entity/CommonBusiness/BaseTypes/V1/" />
  <xsd:complexType name="OffCyclePartyBill">
    <xsd:annotation>
      <xsd:documentation>The official date of the bill</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="xsd_1:PartyBill">
        <xsd:sequence>
          <xsd:element name="billDate" type="xsd:dateTime">
            <xsd:annotation>
              <xsd:documentation>The official date of the bill</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="chargeDate" type="xsd:dateTime">
            <xsd:annotation>
              <xsd:documentation>A date through which charges previously received by the billing system appear on the bill.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="creditDate" type="xsd:dateTime">
            <xsd:annotation>
              <xsd:documentation>A date through which credits previously received by the billing system appear on the bill</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="mailingDate" type="xsd:dateTime">
            <xsd:annotation>
              <xsd:documentation>A customer bill mailing date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="paymentDueDate" type="xsd:dateTime">
            <xsd:annotation>
              <xsd:documentation>A customer bill payment due date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="offCycleProductionReason" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The reason for this cycle run reason, values may be CUSTOMER_REQUEST, ACCOUNT_CLOSE or others
</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OnCyclePartyBill">
    <xsd:complexContent mixed="false">
      <xsd:extension base="xsd_1:PartyBill">
        <xsd:sequence>
          <xsd:element name="_partyBillingCycle" type="xsd_1:PartyBillingCycle" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BillingPeriod">
    <xsd:annotation>
      <xsd:documentation>A billing time period. It can be recurring (for example, a week, a month, a quarter of year, a year) or partyom (in this case additional business entities to describe partyom dates would be needed).</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A short descriptive name such as "week", "month" and "quarter of a year".
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A narrative that explains in detail the semantics of this component.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="_partyBillingCycleSpecification" type="xsd_1:PartyBillingCycleSpecification" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PartyBillingCycle">
    <xsd:annotation>
      <xsd:documentation>An occurrence of a billing cycle. Besides significant dates, it records who triggered the cycle.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="billingDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>A billing date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="chargeDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>A date through which charges previously received by the billing system appear on the bill.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="creditDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>A date through which credits previously received by the billing system appear on the bill.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mailingDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>A party bill mailing date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="paymentDueDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>A party bill payment due date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="_partyBillingCycleSpecification" type="xsd_1:PartyBillingCycleSpecification" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="_partyBill" type="xsd_1:OnCyclePartyBill" />
      <xsd:element maxOccurs="unbounded" name="_partyBillSpec" type="xsd_1:PartyBillSpec" />
      <xsd:element name="productionReason" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The reason for this cycle run. Values may be SCHEDULE_RUN, PROVEIDER_REQUEST or others
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PartyBillingCycleSpecification">
    <xsd:annotation>
      <xsd:documentation>A detailed description of when to initiate a billing cycle and the various sub steps of a billing cycle.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A short descriptive name.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A narrative that explains in detail the semantics of this component.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="validFor" type="xsd_2:TimePeriod">
        <xsd:annotation>
          <xsd:documentation>The period for which the PartyBillingCycleSpecification is valid.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="billingDateShift" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>An offset of a billing date. The offset is expressed as number of days with regard to the start of the BillingPeriod.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="chargeDateOffset" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>An offset of a date through which charges previously received by the billing system will appear on the bill. The offset is expressed as number of days with regard to the start of the BillingPeriod.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="creditDateOffset" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>An offset of a date through which credits previously received by the billing system will appear on the bill. The offset is expressed as number of days with regard to the start of the BillingPeriod.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mailingDateOffset" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>An offset of a party bill mailing date. The offset is expressed as number of days with regard to the start of the BillingPeriod.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="paymentDueDateOffset" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>An offset of a payment due date. The offset is expressed as number of days with regard to the start of the BillingPeriod.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="_billingPeriod" type="xsd_1:BillingPeriod" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="_partyBillingCycle" type="xsd_1:PartyBillingCycle" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="_partyBillSpec" type="xsd_1:PartyBillSpec" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PartyBill">
    <xsd:annotation>
      <xsd:documentation>A total amount due from a PartyAccount for all products during the billing period.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="billNo" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A unique identification number of a bill.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="billAmount" type="xsd_2:Money">
        <xsd:annotation>
          <xsd:documentation>A total party bill amount due.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="_partyBillSpec" type="xsd_1:PartyBillSpec" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="_appliedPartyBillingRate" type="xsd_4:AppliedPartyBillingRate" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="_paymentItem" type="xsd_5:PartyPaymentItem" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="_financialCharge" type="xsd_4:PartyFinancialCharge" />
      <xsd:element minOccurs="0" name="dunningCaseRule" type="xsd_7:DunningCaseRule" />
      <xsd:element minOccurs="0" name="customerBill" type="xsd_8:CustomerBill" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PartyBillFormat">
    <xsd:annotation>
      <xsd:documentation>A detailed description of the way in which a party's bill is presented. The current version of this entity serves as a placeholder. It will be further developed in a future version of this document.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A short descriptive name.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A description of the bill format.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="_partyBillSpec" type="xsd_1:PartyBillSpec" />
      <xsd:element maxOccurs="unbounded" name="_partyBillPresentationMedia" type="xsd_1:PartyBillPresentationMedia" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PartyBillSpec">
    <xsd:annotation>
      <xsd:documentation>A detailed description of a party's bill structure. The current version of this class is serving as a placeholder. It will be further developed in the next version of this document.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A short descriptive name.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A narrative that explains in detail the specification.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="validFor" type="xsd_2:TimePeriod">
        <xsd:annotation>
          <xsd:documentation>The period for which the PartyBillSpec is valid.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="_partyBillFormat" type="xsd_1:PartyBillFormat" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="_partyBill" type="xsd_1:PartyBill" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="_partyBillingCycleSpecification" type="xsd_1:PartyBillingCycleSpecification" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="_partyBillingCycle" type="xsd_1:PartyBillingCycle" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PartyBillPresentationMedia">
    <xsd:annotation>
      <xsd:documentation>A means of communicating a PartyBill, supported by the associated bill format. For example, post mail, email, web page.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A short descriptive name.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A description of the presentation media.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="_partyBillFormat" type="xsd_1:PartyBillFormat" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>