AmxBSCSActivities/Connected Services/StorageMediumSearch/ws_CIL_7_StorageMediumSearchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:sch1="http://lhsgroup.com/lhsws/svlany" xmlns:tns="http://ericsson.com/services/ws_CIL_7" xmlns:sch0="http://lhsgroup.com/lhsws/money" xmlns:sch3="http://ericsson.com/services/ws_CIL_7/storagemediumsearch" xmlns:sch2="http://ericsson.com/services/ws_CIL_7/sessionchange" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope" targetNamespace="http://ericsson.com/services/ws_CIL_7" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/money" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/money" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="money">
        <xs:sequence>
          <xs:element name="amount" type="xs:double" />
          <xs:element name="currency" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:lhsws="http://lhsgroup.com/lhsws/svlany" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://lhsgroup.com/lhsws/svlany" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="svlany">
        <xs:sequence>
          <xs:element name="content" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ericsson="http://ericsson.com/schemas" xmlns:wsi="http://ericsson.com/services/ws_CIL_7/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_7/sessionchange" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="sessionChangeResponse" />
      <xs:complexType name="valuesListpartRequest">
        <xs:all>
          <xs:element name="key" type="xs:string">
            <xs:annotation>
              <xs:documentation>&lt;p&gt; Name of the value that shall be changed. See release dependent documentation for supported keys&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="value" type="xs:string">
            <xs:annotation>
              <xs:documentation>&lt;p&gt;New value for a named value.&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:all>
      </xs:complexType>
      <xs:complexType name="valuesRequest">
        <xs:annotation>
          <xs:documentation>&lt;p&gt;A list of all named values that shall be changed with this command.&lt;/p&gt;</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="item" type="wsi:valuesListpartRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sessionChangeRequest">
        <xs:annotation>
          <xs:documentation>&lt;p&gt;
					
					&lt;/p&gt;</xs:documentation>
        </xs:annotation>
        <xs:all>
          <xs:element minOccurs="0" name="values" type="wsi:valuesRequest" />
        </xs:all>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ericsson="http://ericsson.com/schemas" xmlns:wsi="http://ericsson.com/services/ws_CIL_7/storagemediumsearch" xmlns:money="http://lhsgroup.com/lhsws/money" xmlns:sessionchange="http://ericsson.com/services/ws_CIL_7/sessionchange" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ericsson.com/services/ws_CIL_7/storagemediumsearch" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://ericsson.com/services/ws_CIL_7/sessionchange" />
      <xs:import namespace="http://lhsgroup.com/lhsws/money" />
      <xs:element name="storageMediumSearchRequest" type="wsi:storageMediumSearchRequest" />
      <xs:element name="storageMediumSearchResponse" type="wsi:storageMediumSearchResponse" />
      <xs:complexType name="allStoragemediumsListpartResponse">
        <xs:all>
          <xs:element minOccurs="0" name="stmedno" type="xs:string">
            <xs:annotation>
              <xs:documentation>&lt;p&gt;SERIAL NUM, SIS, CODE OF THE DEALER, CODE OF HLR, NUMBERING PLAN OF PORT, TEMPLATE
													&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="smcId" type="xs:long">
            <xs:annotation>
              <xs:documentation>&lt;p&gt;Private key of the storage medium class&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="smcIdPub" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <ericsson:since source="BUC3:2" xmlns:ericsson="http://ericsson.com/schemas" />
              </xs:appinfo>
              <xs:documentation>&lt;p&gt;Public key of the storage medium class&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="dlCode" type="xs:long">
            <xs:annotation>
              <xs:documentation>&lt;p&gt; Dealer Id&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="hlcode" type="xs:long">
            <xs:annotation>
              <xs:documentation>&lt;p&gt; Physical HLR code&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="initialCredit" type="money:money">
            <xs:annotation>
              <xs:documentation>&lt;p&gt; Prepaid account, initial credit&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="portNpcode" type="xs:long">
            <xs:annotation>
              <xs:documentation>&lt;p&gt; Port Numbering Plan Code&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="smStatus" type="xs:string">
            <xs:annotation>
              <xs:documentation>&lt;p&gt; State of the StorageMedium e.g. f(free),r(reserved)..&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="smId" type="xs:long">
            <xs:annotation>
              <xs:documentation>&lt;p&gt;Primary key for this Storage medium Number.&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="linkedDnId" type="xs:long">
            <xs:annotation>
              <xs:documentation>&lt;p&gt;Id of the directory number linked to this storage medium.&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="linkedPortNum" type="xs:string">
            <xs:annotation>
              <xs:documentation>&lt;p&gt;Port number linked to this storage medium.&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="linkedPortId" type="xs:long">
            <xs:annotation>
              <xs:documentation>&lt;p&gt;The primary Key of linked Port. To be used only if license of feature LHS_BSCS_PC15336 is switched on.&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="linkedPortStatus" type="xs:string">
            <xs:annotation>
              <xs:documentation>&lt;p&gt;The status of linked Port. To be used only if license of feature LHS_BSCS_PC15336 is switched on.&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:all>
      </xs:complexType>
      <xs:complexType name="allStoragemediumsResponse">
        <xs:annotation>
          <xs:documentation>&lt;p&gt;&lt;/p&gt;</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="wsi:allStoragemediumsListpartResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="storageMediumSearchResponse">
        <xs:annotation>
          <xs:documentation>&lt;p&gt;&lt;/p&gt;</xs:documentation>
        </xs:annotation>
        <xs:all>
          <xs:element minOccurs="0" name="allStoragemediums" type="wsi:allStoragemediumsResponse" />
          <xs:element minOccurs="0" name="searchIsComplete" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>&lt;p&gt;flag indicating if search was completed.&lt;/p&gt;&lt;p&gt;This flag will be set to false if more rows than specified in Srch_Count are available in the database&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:all>
      </xs:complexType>
      <xs:complexType name="inputAttributes">
        <xs:annotation>
          <xs:documentation>&lt;p&gt;&lt;/p&gt;</xs:documentation>
        </xs:annotation>
        <xs:all>
          <xs:element minOccurs="0" name="plcode" type="xs:long">
            <xs:annotation>
              <xs:documentation>&lt;p&gt; The network,this port offers access to &lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="plcodePub" type="xs:string">
            <xs:annotation>
              <xs:documentation>&lt;p&gt;Public key of the network&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="stmedno" type="xs:string">
            <xs:annotation>
              <xs:documentation>&lt;p&gt; Serial number of an instance &lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="submId" type="xs:long">
            <xs:annotation>
              <xs:documentation>&lt;p&gt; sub markt &lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="submIdPub" type="xs:string">
            <xs:annotation>
              <xs:documentation>&lt;p&gt;Public key of the submarket&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="portNum" type="xs:string">
            <xs:annotation>
              <xs:documentation>&lt;p&gt; Type of PORT&lt;/p&gt;&lt;p&gt;The PORT_NUM of linked Port. To be used only if license of feature LHS_BSCS_PC15336 is switched on.&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="smcId" type="xs:long">
            <xs:annotation>
              <xs:documentation>&lt;p&gt;Type of Storage Medium (private key)&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="smcIdPub" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <ericsson:since source="BUC3:2" xmlns:ericsson="http://ericsson.com/schemas" />
              </xs:appinfo>
              <xs:documentation>&lt;p&gt;Public key of the storage medium class&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="hlcode" type="xs:long">
            <xs:annotation>
              <xs:documentation>&lt;p&gt; physical HLR &lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="hlcodePub" type="xs:string">
            <xs:annotation>
              <xs:documentation>&lt;p&gt;Public key of the physical HLR&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="dirnum" type="xs:string">
            <xs:annotation>
              <xs:documentation>&lt;p&gt;Directory Number&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="srchCount" type="xs:integer">
            <xs:annotation>
              <xs:documentation>&lt;p&gt; Search Count&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="reservation" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>&lt;p&gt; Flag indicating if resource reservation is enabled. Reservation time is defined by Resource Settings: LockTime in Registry_CMS_Resource.xml.&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="externalState" type="xs:string">
            <xs:annotation>
              <xs:documentation>&lt;p&gt;This parameter is dependent on PC:15293 license. It is used and managed by external systems. Operator can set it to any value.&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="includeReserved" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>&lt;p&gt; The flag set as true make the command returns also the reserved storage mediums. This input is only applicable when RESERVATION isn't true.&lt;/p&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:all>
      </xs:complexType>
      <xs:complexType name="storageMediumSearchRequest">
        <xs:all>
          <xs:element minOccurs="0" name="inputAttributes" type="wsi:inputAttributes" />
          <xs:element minOccurs="0" name="sessionChangeRequest" type="sessionchange:sessionChangeRequest" />
        </xs:all>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="storageMediumSearchResponse">
    <wsdl:part name="storageMediumSearchResponse" element="sch3:storageMediumSearchResponse" />
  </wsdl:message>
  <wsdl:message name="storageMediumSearchRequest">
    <wsdl:part name="storageMediumSearchRequest" element="sch3:storageMediumSearchRequest" />
  </wsdl:message>
  <wsdl:portType name="StorageMediumSearchService">
    <wsdl:operation name="storageMediumSearch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;![CDATA[&lt;p&gt;Sent from the client to request the link status
of serial number / port / directory number(s) for a storage medium. For an active storage medium the directory numbers
linked to services are included. If the user is restricted to a dealer or service provider then the storage medium must
be linked to the dealer or service provider respectively.&lt;/p&gt;]]&gt;</wsdl:documentation>
      <wsdl:input name="storageMediumSearchRequest" message="tns:storageMediumSearchRequest" />
      <wsdl:output name="storageMediumSearchResponse" message="tns:storageMediumSearchResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StorageMediumSearchServiceSoap11" type="tns:StorageMediumSearchService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="storageMediumSearch">
      <soap:operation soapAction="" />
      <wsdl:input name="storageMediumSearchRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="storageMediumSearchResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StorageMediumSearchService">
    <wsdl:port name="StorageMediumSearchServiceSoap11" binding="tns:StorageMediumSearchServiceSoap11">
      <soap:address location="http://localhost:1010/wsi/services" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>