AmxPeruPSBActivities/Connected Services/TechnicianAppGetResource/V11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:bsty="http://www.amx.com/CO/Schema/BaseTypeABE/v1" xmlns:tns="http://www.amx.com/Schema/Operation/GetResource/V1.0" xmlns:clhe="http://www.amx.com/CO/Schema/ClaroHeaders/v1" elementFormDefault="qualified" targetNamespace="http://www.amx.com/Schema/Operation/GetResource/V1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://localhost:50123/ConsultTechnician/V1.0?SCHEMA%2FUT_DataModel%2FEntities%2FCommonBusiness%2FClaroHeaders" namespace="http://www.amx.com/CO/Schema/ClaroHeaders/v1" />
  <xsd:import schemaLocation="http://localhost:50123/ConsultTechnician/V1.0?SCHEMA%2FUT_DataModel%2FEntities%2FBaseTypesABE" namespace="http://www.amx.com/CO/Schema/BaseTypeABE/v1" />
  <xsd:annotation>
    <xsd:documentation> 
          
      Author: Lesmen Garcia
      email: lesmen.garcia.ext@claro.com.co
      Date: 19/09/2017
      Version: 1.0
      Purpose: Operation GetResource
      Track changes: Creation. Released first version
      Observations: 
      
  </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="getResourceRequest" type="tns:GetResourceRequest" />
  <xsd:element name="getResourceResponse" type="tns:GetResourceResponse" />
  <xsd:complexType name="GetResourceRequest">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="headerRequest" type="clhe:HeaderRequest" />
      <xsd:element minOccurs="0" maxOccurs="1" name="company" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="id" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="date" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetResourceResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="headerResponse" type="clhe:HeaderResponse" />
      <xsd:element minOccurs="0" maxOccurs="1" name="resultCode" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="errorMsg" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Properties" type="bsty:AttributeValuePair" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>