AmxPeruPSBActivities/Web References/CargaDocumentoOnBase_V1/DocumentsExtension_V1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:entdocext="http://claro.com.pe/entity/CommonBusiness/DocumentsExtension/V1/" xmlns:doc="http://claro.com.pe/entity/CommonBusiness/Documents/V1/" targetNamespace="http://claro.com.pe/entity/CommonBusiness/DocumentsExtension/V1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="Documents_V1.xsd" namespace="http://claro.com.pe/entity/CommonBusiness/Documents/V1/" />
  <xsd:complexType name="DocumentsExtension">
    <xsd:complexContent mixed="false">
      <xsd:extension base="doc:Documents">
        <xsd:sequence>
          <xsd:element name="_PDL" type="xsd:int" />
          <xsd:element name="_DDAOutputFile" type="xsd:boolean" />
          <xsd:element name="_attachFile" type="xsd:byte" />
          <xsd:element name="_directory" type="xsd:string" />
          <xsd:element name="_outputFileName" type="xsd:string" />
          <xsd:element name="_outputFile" type="xsd:base64Binary" />
          <xsd:element name="_pubFile" type="xsd:string" />
          <xsd:element name="_fileType" type="xsd:string" />
          <xsd:element name="_extension" type="xsd:string" />
          <xsd:element name="_pageCounter" type="xsd:int" />
          <xsd:element name="_messageLength" type="xsd:int" />
          <xsd:element name="_outputLength" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="_generatedate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="_hour" type="xsd:time" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="_printType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="_autoPrint" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="_yeardocument" type="xsd:integer" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>