AmxPeruPSBActivities/Web References/CargaDocumentoOnBase_V1/ResponseStatus_V1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ressta="http://claro.com.pe/esb/data/generico/responseStatus/v1/" targetNamespace="http://claro.com.pe/esb/data/generico/responseStatus/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="responseStatus" type="ressta:ResponseStatusType" />
  <xsd:complexType name="ResponseStatusType">
    <xsd:sequence>
      <xsd:element name="responseStatus" type="ressta:ResponseStatus" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseStatus">
    <xsd:sequence>
      <xsd:element name="status" type="xsd:int" />
      <xsd:element name="codeResponse" type="xsd:string" />
      <xsd:element name="descriptionResponse" type="xsd:string" />
      <xsd:element name="errorLocation" type="xsd:string" />
      <xsd:element name="date" type="xsd:date" />
      <xsd:element name="origin" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>