AmxPeruCommonLibrary/Connected Services/BssServiceConfigMgmt/CustomerAccountBalanceType_V1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entcusaccbaltyp="http://claro.com.pe/entity/Customer/CustomerAccountBalanceType/V1/" xmlns:entbastyp="http://claro.com.pe/entity/CommonBusiness/BaseTypes/V1/" targetNamespace="http://claro.com.pe/entity/Customer/CustomerAccountBalanceType/V1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../CommonBusiness/BaseTypes_V1.xsd" namespace="http://claro.com.pe/entity/CommonBusiness/BaseTypes/V1/" />
  <xs:complexType name="CustomerAccountBalanceType">
    <xs:annotation>
      <xs:documentation>CustomerAccountBalanceTypeSpec describes and defines certain type of CustomerAccountBalance.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="balanceClass" type="xs:string">
        <xs:annotation>
          <xs:documentation>Class of the CustomerAccountBalance, such as prepayment, deposit, bonus.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation>An explanation of the CustomerAccountBalanceType.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>A unique identifier for the CustomerAccountBalanceType.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Name of the CustomerAccountBalanceType.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="validfor" type="entbastyp:TimePeriod">
        <xs:annotation>
          <xs:documentation>The period for which the CustomerAccountBalanceType is valid.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>