AmxPeruPSBActivities/Web References/GeneraIncidencia_V1/Agreement_V1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entgeoadd="http://claro.com.pe/entity/CommonBusiness/GeographicAddress/V1/" xmlns:entagr="http://claro.com.pe/entity/EngagedParty/Agreement/V1/" xmlns:xsd_2="http://claro.com.pe/entity/CommonBusiness/BusinessInteraction/V1/" xmlns:entbastyp="http://claro.com.pe/entity/CommonBusiness/BaseTypes/V1/" targetNamespace="http://claro.com.pe/entity/EngagedParty/Agreement/V1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../CommonBusiness/BaseTypes_V1.xsd" namespace="http://claro.com.pe/entity/CommonBusiness/BaseTypes/V1/" />
  <xs:import schemaLocation="../CommonBusiness/GeographicAddress_V1.xsd" namespace="http://claro.com.pe/entity/CommonBusiness/GeographicAddress/V1/" />
  <xs:import schemaLocation="../CommonBusiness/BusinessInteraction_V1.xsd" namespace="http://claro.com.pe/entity/CommonBusiness/BusinessInteraction/V1/" />
  <xs:complexType name="Agreement">
    <xs:annotation>
      <xs:documentation>A type of BusinessInteraction that represents a contract or arrangement, either written or verbal and sometimes enforceable by law.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="agreementdocumentnumber" type="xs:string">
        <xs:annotation>
          <xs:documentation>A reference number assigned to an Agreement that follows a prescribed numbering system.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="amount" type="entbastyp:Money" />
      <xs:element minOccurs="0" maxOccurs="1" name="authRemark" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="isAuthorized" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="responsability" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="agreementperiod" type="entbastyp:TimePeriod">
        <xs:annotation>
          <xs:documentation>The time period during which the Agreement is in effect.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="agreementstatementofintent" type="xs:string">
        <xs:annotation>
          <xs:documentation>An overview and goals of the Agreement.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_agreementItem" type="entagr:AgreementItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="_agreementSpec" type="entagr:AgreementSpec" />
      <xs:element minOccurs="0" maxOccurs="1" name="_bankAccount" type="entagr:BankAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgreementSpec">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="isDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="payment" type="entbastyp:AttributeValuePair" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Bank">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="swiftCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="_geographicAddress" type="entgeoadd:GeographicAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="accountNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="accountOwner" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="creditCardAgency" type="entbastyp:AttributeValuePair" />
      <xs:element minOccurs="0" maxOccurs="1" name="_bank" type="entagr:Bank" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgreementApproval">
    <xs:complexContent mixed="false">
      <xs:extension base="xsd_2:Notification">
        <xs:sequence>
          <xs:element name="_agreement" type="entagr:Agreement" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="_agreementAuthorization" type="entagr:AgreementAuthorization" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AgreementAuthorization">
    <xs:annotation>
      <xs:documentation>BusinessParticpant responsible for approving an Agreement.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="agreementAuthorizationState" type="xs:string">
        <xs:annotation>
          <xs:documentation>Current status of the authorization, for example in process, approved, rejected.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="agreementAuthorizationDate" type="entbastyp:TimePeriod">
        <xs:annotation>
          <xs:documentation>The date associated with the status.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="agreementSignatureRepresentation" type="xs:string">
        <xs:annotation>
          <xs:documentation>Indication that represents whether the signature is a physical paper signature or a digital signature.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_agreementApproval" type="entagr:AgreementApproval" />
      <xs:element name="_businessInteractionRole" type="xsd_2:BusinessInteractionRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgreementItem">
    <xs:annotation>
      <xs:documentation>The purpose for an Agreement expressed in terms of a Product, Service, Resource, and/or their respective specifications, inherited from BusinessInteractionItem.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attr" type="entbastyp:AttributeValuePair" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceLevelAgreement">
    <xs:annotation>
      <xs:documentation>A service level agreement (SLA) is a type of agreement that represents a formal negotiated agreement between two parties designed to create a common understanding about products, services, priorities, responsibilities, and so forth. The SLA is a set of appropriate procedures and targets formally or informally agreed between parties in order to achieve and maintain specified Quality of Service.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="entagr:Agreement" />
    </xs:complexContent>
  </xs:complexType>
</xs:schema>