AmxPeruPSBActivities/Web References/GeneraIncidencia_V1/ClaroGenericHeaders_V1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:tns="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/esb/data/generico/claroGenericHeader/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="headerRequest" type="tns:HeaderRequestType">
    <xsd:annotation>
      <xsd:documentation>Todas las operaciones de los servicios implementaran esta cabecera para el envio de los datos de entrada.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="headerResponse" type="tns:HeaderResponseType">
    <xsd:annotation>
      <xsd:documentation>Todas las operaciones de los servicios implementaran esta cabecera para el envio de los datos de entrada.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="HeaderRequestType">
    <xsd:sequence>
      <xsd:element name="canal" type="xsd:string" />
      <xsd:element minOccurs="0" name="idAplicacion" type="xsd:long" />
      <xsd:element minOccurs="0" name="usuarioAplicacion" type="xsd:string" />
      <xsd:element minOccurs="0" name="usuarioSesion" type="xsd:string" />
      <xsd:element minOccurs="0" name="idTransaccionESB" type="xsd:string" />
      <xsd:element name="idTransaccionNegocio" type="xsd:string" />
      <xsd:element minOccurs="0" name="fechaInicio" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="nodoAdicional" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeaderResponseType">
    <xsd:sequence>
      <xsd:element name="idTransaccionESB" type="xsd:string" />
      <xsd:element name="idTransaccionNegocio" type="xsd:string" />
      <xsd:element name="fechaInicio" type="xsd:dateTime" />
      <xsd:element name="fechaFin" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="nodoAdicional" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>