AmxPeruPSBActivities/Connected Services/NotifyCancelAppointment/notifyCancellationAppointment2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:worord="http://www.ericsson.com/entity/CommonBusiness/WorkOrder/V1/" xmlns:entlocal="http://www.ericsson.com/entity/CommonBusiness/Local/V1/" xmlns:notharcloreq="http://www.ericsson.com/esb/message/NotifyHardCloseWorkOrderRequest/V1/" xmlns:entbusint="http://www.ericsson.com/entity/CommonBusiness/BusinessInteraction/V1/" xmlns="http://www.ericsson.com/esb/message/NotifyHardCloseWorkOrderRequest/V1/" targetNamespace="http://www.ericsson.com/esb/message/NotifyHardCloseWorkOrderRequest/V1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://localhost:50124/esb/Service/BssServiceOrder/v1/notifyCancellationAppointment?SCHEMA%2FUT_MODELO_ONTOLOGICO%2FEntidades%2FCommonBusiness%2FBusinessInteraction_V1" namespace="http://www.ericsson.com/entity/CommonBusiness/BusinessInteraction/V1/" />
  <xsd:import schemaLocation="http://localhost:50124/esb/Service/BssServiceOrder/v1/notifyCancellationAppointment?SCHEMA%2FUT_MODELO_ONTOLOGICO%2FEntidades%2FCommonBusiness%2FLocal_V1" namespace="http://www.ericsson.com/entity/CommonBusiness/Local/V1/" />
  <xsd:import schemaLocation="http://localhost:50124/esb/Service/BssServiceOrder/v1/notifyCancellationAppointment?SCHEMA%2FUT_MODELO_ONTOLOGICO%2FEntidades%2FCommonBusiness%2FWorkOrder_V1" namespace="http://www.ericsson.com/entity/CommonBusiness/WorkOrder/V1/" />
  <xsd:element name="notifyHardCloseWorkOrderRequest" type="notharcloreq:notifyHardCloseWorkOrderRequestType" />
  <xsd:element name="notifyHardCloseWorkOrderRequestType" type="notharcloreq:notifyHardCloseWorkOrderRequestType" />
  <xsd:complexType name="notifyHardCloseWorkOrderRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="_workOrder" type="worord:WorkOrder" />
      <xsd:element minOccurs="1" maxOccurs="1" name="_workOrderItem" type="worord:WorkOrderItem" />
      <xsd:element minOccurs="1" maxOccurs="1" name="absoluteLocalLocation" type="entlocal:AbsoluteLocalLocation" />
      <xsd:element minOccurs="1" maxOccurs="1" name="request" type="entbusint:InquiryRequest" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>