AmxPeruPSBActivities/Connected Services/NotifyCancelAppointment/notifyCancellationAppointment18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entbastyp="http://www.ericsson.com/entity/CommonBusiness/BaseTypes/V1/" xmlns:entpar="http://www.ericsson.com/entity/EngagedParty/Party/V1/" xmlns:entagr="http://www.ericsson.com/entity/EngagedParty/Agreement/V1/" xmlns:entbusint="http://www.ericsson.com/entity/CommonBusiness/BusinessInteraction/V1/" xmlns:entloc="http://www.ericsson.com/entity/CommonBusiness/Location/V1/" xmlns="http://www.ericsson.com/entity/CommonBusiness/BusinessInteraction/V1/" targetNamespace="http://www.ericsson.com/entity/CommonBusiness/BusinessInteraction/V1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50124/esb/Service/BssServiceOrder/v1/notifyCancellationAppointment?SCHEMA%2FUT_MODELO_ONTOLOGICO%2FEntidades%2FCommonBusiness%2FBaseTypes_V1" namespace="http://www.ericsson.com/entity/CommonBusiness/BaseTypes/V1/" />
  <xs:import schemaLocation="http://localhost:50124/esb/Service/BssServiceOrder/v1/notifyCancellationAppointment?SCHEMA%2FUT_MODELO_ONTOLOGICO%2FEntidades%2FEngagedParty%2FParty_V1" namespace="http://www.ericsson.com/entity/EngagedParty/Party/V1/" />
  <xs:import schemaLocation="http://localhost:50124/esb/Service/BssServiceOrder/v1/notifyCancellationAppointment?SCHEMA%2FUT_MODELO_ONTOLOGICO%2FEntidades%2FEngagedParty%2FAgreement_V1" namespace="http://www.ericsson.com/entity/EngagedParty/Agreement/V1/" />
  <xs:import schemaLocation="http://localhost:50124/esb/Service/BssServiceOrder/v1/notifyCancellationAppointment?SCHEMA%2FUT_MODELO_ONTOLOGICO%2FEntidades%2FCommonBusiness%2FLocation_V1" namespace="http://www.ericsson.com/entity/CommonBusiness/Location/V1/" />
  <xs:annotation>
    <xs:documentation>The Business Interaction ABE represents an arrangement, contract, or communication between an
                   enterprise and one or more other entities such as individuals and organizations (or parts of
                   organizations). Interactions take on the form of requests, responses, and notifications.
  </xs:documentation>
  </xs:annotation>
  <xs:complexType name="BusinessInteraction">
    <xs:annotation>
      <xs:documentation>A BusinessInteraction is an arrangement, contract, communication or joint activity between one or more PartyRoles, ResourceRoles, or CustomerAccounts. A BusinessInteraction may consist of one or more BusinessInteractionItems. A BusinessInteractionItem may refer to a Product, Service, Resource, or one of their specifications. A BusinessInteraction is further defined by one or more Places. One BusinessInteraction may reference another BusinessInteraction and one BusinessInteractionItem may reference another BusinessInteractionItem on the same or different BusinessInteraction. There are five types of BusinessInteractions: Requests, Responses, Notifications, Agreements, and Instructions.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation>Narrative that explains the interaction and details about the interaction, such as why the interaction is taking place.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Unique identifier for Interaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="interactiondate" type="xs:date">
        <xs:annotation>
          <xs:documentation>Date interaction initiated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="interactiondatecomplete" type="xs:date">
        <xs:annotation>
          <xs:documentation>The date on which an interaction is closed or completed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="interactionstatus" type="xs:string">
        <xs:annotation>
          <xs:documentation>The current condition of an interaction, such as open, in research, closed, and so forth.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_businessInteractionRole" type="entbusint:BusinessInteractionRole" />
      <xs:element minOccurs="0" maxOccurs="1" name="_businessInteractionType" type="entbusint:BusinessInteractionType" />
      <xs:element minOccurs="0" maxOccurs="1" name="_businessInteractionSpec" type="entbusint:BusinessInteractionSpec" />
      <xs:element minOccurs="0" maxOccurs="1" name="_url" type="entbastyp:URL" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Request">
    <xs:annotation>
      <xs:documentation>The act of asking that something be done that typically involves a Response. Request is a type of Business Interaction.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="entbusint:BusinessInteraction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Response">
    <xs:annotation>
      <xs:documentation>A reply to a Request.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="entbusint:BusinessInteraction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InquiryRequest">
    <xs:annotation>
      <xs:documentation>A Request for information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="entbusint:Request">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InquiryResponse">
    <xs:annotation>
      <xs:documentation>A reply to a InquiryRequest.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="entbusint:Response">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BusinessInteractionRole">
    <xs:annotation>
      <xs:documentation>An entity involved in a BusinessInteraction.  The entity may be a Party playing a PartyRole or a Resource playing a ResourceRole, such as a system.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="interactionRole" type="xs:string">
        <xs:annotation>
          <xs:documentation>The part a BusinessActor plays in an interaction, such as requester, responder, recipient, and so forth.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="interactionName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusinessInteractionType">
    <xs:annotation>
      <xs:documentation>The possible types of BusinessInteractions that can occur. BusinessInteractionTypes can be with the associated BusinessParticipantTypes that can participate in a BusinessInteraction.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation>A brief narrative that describes an Interaction Type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>The name of an Interaction Type, such as Customer Inquiry, Customer Quote/Offer, Trouble Report.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusinessInteractionItem">
    <xs:annotation>
      <xs:documentation>The purpose for the BusinessInteraction expressed in terms of a ProductSpecification, ProductOffering, ServiceSpecification or ResourceSpecification or may refer to a Product, Service, or Resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="action" type="xs:string">
        <xs:annotation>
          <xs:documentation>The action to take for an InteractionItem, such as add, change, remove.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="entbastyp:Quantity">
        <xs:annotation>
          <xs:documentation>Quantity of an interaction item involved in an interaction.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusinessInteractionSpec">
    <xs:annotation>
      <xs:documentation>The invariant characteristics (attributes in the business view, and methods, constraints, relationships, and behavior in the system view) and behavior of a BusinessInteraction. This is done by optionally defining a set of BusinessInteractionSpecItems, each of which aggregates one or more other types of Specifications. This helps to ensure that different BusinessInteractions have the same basic characteristics and behavior by deriving them from the same BusinessInteractionSpec.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Notification" abstract="true">
    <xs:annotation>
      <xs:documentation>A communication that informs about something that has or will happen. A Notification is typically one-sided, in that no Response is expected. A Notification can be created as the result of a Request; for example, a Trouble Report
                may result in Notifications being sent to affected Parties. A Notification is a type of Business Interaction.
        </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="entbusint:BusinessInteraction" />
    </xs:complexContent>
  </xs:complexType>
</xs:schema>