AmxPeruPSBActivities/Connected Services/NotifyCancelAppointment/notifyCancellationAppointment21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:worord="http://www.ericsson.com/entity/CommonBusiness/WorkOrder/V1/" xmlns:entbastyp="http://www.ericsson.com/entity/CommonBusiness/BaseTypes/V1/" xmlns:entbusint="http://www.ericsson.com/entity/CommonBusiness/BusinessInteraction/V1/" xmlns="http://www.ericsson.com/esb/message/NotifySoftCloseWorkOrderRequest/V1/" xmlns:notsofcloworordreq="http://www.ericsson.com/esb/message/NotifySoftCloseWorkOrderRequest/V1/" targetNamespace="http://www.ericsson.com/esb/message/NotifySoftCloseWorkOrderRequest/V1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://localhost:50124/esb/Service/BssServiceOrder/v1/notifyCancellationAppointment?SCHEMA%2FUT_MODELO_ONTOLOGICO%2FEntidades%2FCommonBusiness%2FBusinessInteraction_V1" namespace="http://www.ericsson.com/entity/CommonBusiness/BusinessInteraction/V1/" />
  <xsd:import schemaLocation="http://localhost:50124/esb/Service/BssServiceOrder/v1/notifyCancellationAppointment?SCHEMA%2FUT_MODELO_ONTOLOGICO%2FEntidades%2FCommonBusiness%2FBaseTypes_V1" namespace="http://www.ericsson.com/entity/CommonBusiness/BaseTypes/V1/" />
  <xsd:import schemaLocation="http://localhost:50124/esb/Service/BssServiceOrder/v1/notifyCancellationAppointment?SCHEMA%2FUT_MODELO_ONTOLOGICO%2FEntidades%2FCommonBusiness%2FWorkOrder_V1" namespace="http://www.ericsson.com/entity/CommonBusiness/WorkOrder/V1/" />
  <xsd:element name="notifySoftCloseWorkOrderRequestType" type="notsofcloworordreq:notifySoftCloseWorkOrderRequestType" />
  <xsd:complexType name="notifySoftCloseWorkOrderRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="_workOrder" type="worord:WorkOrder" />
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="_workOrderItem" type="worord:WorkOrderItem" />
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="attributeValuePair" type="entbastyp:AttributeValuePair" />
      <xsd:element minOccurs="1" maxOccurs="1" name="request" type="entbusint:InquiryRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="notifySoftCloseWorkOrderRequest" type="notsofcloworordreq:notifySoftCloseWorkOrderRequestType" />
</xsd:schema>