AmxPeruPSBActivities/Connected Services/NotifyCancelAppointment/notifyCancellationAppointment22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:entparrolprooff="http://www.ericsson.com/entity/EngagedParty/PartyRoleProductOffering/V1/" xmlns:entagr="http://www.ericsson.com/entity/EngagedParty/Agreement/V1/" xmlns:entbastyp="http://www.ericsson.com/entity/CommonBusiness/BaseTypes/V1/" targetNamespace="http://www.ericsson.com/entity/EngagedParty/PartyRoleProductOffering/V1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50124/esb/Service/BssServiceOrder/v1/notifyCancellationAppointment?SCHEMA%2FUT_MODELO_ONTOLOGICO%2FEntidades%2FCommonBusiness%2FBaseTypes_V1" namespace="http://www.ericsson.com/entity/CommonBusiness/BaseTypes/V1/" />
  <xs:import schemaLocation="http://localhost:50124/esb/Service/BssServiceOrder/v1/notifyCancellationAppointment?SCHEMA%2FUT_MODELO_ONTOLOGICO%2FEntidades%2FEngagedParty%2FAgreement_V1" namespace="http://www.ericsson.com/entity/EngagedParty/Agreement/V1/" />
  <xs:complexType name="PartyRoleProductOffering">
    <xs:annotation>
      <xs:documentation>A ProductOffering made available by a PartyRole and the involvement the PartyRole has with the ProductOffering.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="aftersalesserviceprovidedby" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>An indicator that specifies that a party provides assurance related customer service after a sale is made.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="billedby" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>An indicator that specifies that the associated PartyRole submits a bill for the ProductOffering.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="marketedby" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>An indicator that specifies if the PartyRoleProductOffering is marketed by the related PartyRole.  For example a Competitor PartyRole may only have this attribute set to true and the other boolean attributes set to false.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ordertakenby" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>An indicator that specifies that the associated PartyRole takes an order for the ProductOffering.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="partyroleprodofferstatus" type="xs:string">
        <xs:annotation>
          <xs:documentation>The current condition of an PartyRoleProductOffering, such as planned, on-boarded, off-boarded, inactive.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="paymentacceptedby" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>An indicator that specifies that the associated PartyRole accepts payment for the ProductOffering.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="paymentmadeto" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>An indicator that specifies that payment is made to the associated PartyRole for the ProductOffering.  For example, an entrprise may accept payment on behalf of PartyRole and then send the payment to the PartyRole.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="postorderfulfilledby" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>An indicator the specifies if the party completes fulfillment of an order after it has been taken.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="purpose" type="xs:string">
        <xs:annotation>
          <xs:documentation>Thee reason for the PartyRoleProductOffering, such as sell on behalf of, purchase, offer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="validfor" type="entbastyp:TimePeriod">
        <xs:annotation>
          <xs:documentation>The period during which the PartyRoleProductOffering is applicable.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_agreementItem" type="entagr:AgreementItem" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>