AmxPeruPSBActivities/Connected Services/NotifyCancelAppointment/notifyCancellationAppointment15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.ericsson.com/esb/message/NotifySoftCloseWorkOrderResponse/V1/" xmlns:entbastyp="http://www.ericsson.com/entity/CommonBusiness/BaseTypes/V1/" xmlns:notsofcloworordres="http://www.ericsson.com/esb/message/NotifySoftCloseWorkOrderResponse/V1/" targetNamespace="http://www.ericsson.com/esb/message/NotifySoftCloseWorkOrderResponse/V1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://localhost:50124/esb/Service/BssServiceOrder/v1/notifyCancellationAppointment?SCHEMA%2FUT_MODELO_ONTOLOGICO%2FEntidades%2FCommonBusiness%2FBaseTypes_V1" namespace="http://www.ericsson.com/entity/CommonBusiness/BaseTypes/V1/" />
  <xsd:element name="NotifySoftCloseWorkOrderResponse_TYPE" type="notsofcloworordres:NotifySoftCloseWorkOrderResponse_TYPE" />
  <xsd:complexType name="NotifySoftCloseWorkOrderResponse_TYPE">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="_responseStatus" type="entbastyp:ResponseStatus" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="notifySoftCloseWorkOrderResponse" type="notsofcloworordres:NotifySoftCloseWorkOrderResponse_TYPE" />
</xsd:schema>